.working {
    display: none;
}

@media screen and (min-width: 768px) and (max-width:1599.9px) {
    .working {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    .working {
        display: block;
        padding: 94px 0px 94px 0px;


&__title {
        margin: 0 0 50px 0;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }

    &__list {
        padding: 0px;
        display: flex;
        padding-inline-start: 0px;
        justify-content: center;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__item {
        position: relative;
        width: 370px;
    }

    &__tetx {
        position: absolute;
        bottom: 0;
        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--other-text-color);
        padding-top: 27px;
        padding-bottom: 27px;
    }
    }
}